# Compiler: gcc (Debian 14.2.0-19) 14.2.0
CONFIG_GCC_VERSION=140200
CONFIG_CYCLIC=y
CONFIG_CYCLIC_MAX_CPU_TIME_US=1000
CONFIG_CMD_WDT=y
CONFIG_CMD_CYCLIC=y
# CONFIG_WATCHDOG_AUTOSTART is not set
# CONFIG_DESIGNWARE_WATCHDOG is not set
CONFIG_WDT=y
# CONFIG_WDT_APPLE is not set
# CONFIG_WDT_ASPEED is not set
# CONFIG_WDT_AST2600 is not set
# CONFIG_WDT_AT91 is not set
# CONFIG_WDT_CDNS is not set
# CONFIG_WDT_CORTINA is not set
# CONFIG_WDT_GPIO is not set
# CONFIG_WDT_MAX6370 is not set
# CONFIG_WDT_MCF is not set
CONFIG_WDT_MESON_GXBB=y
# CONFIG_WDT_ORION is not set
# CONFIG_WDT_SBSA is not set
# CONFIG_WDT_SP805 is not set
# CONFIG_WDT_STM32MP is not set
# CONFIG_WDT_STARFIVE is not set
# CONFIG_XILINX_TB_WATCHDOG is not set
# CONFIG_WDT_ARM_SMC is not set
# CONFIG_WDT_FTWDT010 is not set
